.CrispInput {
	--crp-input-border: 1px solid #dfe3e6;
	--crp-input-border-hover: 1px solid #d7dbdf;
	--crp-input-border-color-error: #ff4d4f;
	--crp-input-box-shadow-focus: #00000000 0px 0px 0px 0px, #eceef0 0px 0px 0px 1px,
		#0000001a 0px 2px 2px -1px, #0000001a 0px 2px 4px -2px;
	--crp-input-border-color-disabled: #d9d9d9;
	--crp-input-border-radius: 8px;
	--crp-input-color: #000000;
	--crp-input-color-disabled: #929292;
	--crp-input-color-placeholder: #bfbfbf;
	--crp-input-color-placeholder-disabled: #d9d9d9;
	--crp-input-font-size: 14px;
	--crp-input-box-shadow: #ffffff09 0px 0px 0px 0px, #eceef009 0px 0px 0px 0.075px,
		#0000000d 0px 1.11119px 2.14825px -0.0370623px, #00000001 0px 0.075px 0.148249px -0.075px;
	--crp-input-width: 100%;
	--crp-input-background-color: #f4f6f8;
	--crp-text-area-max-height: 230px;
	--crp-text-area-min-height: 34px;

	&:not([data-type='text-area']) {
		--crp-input-padding: 8px 12px;
		--crp-input-height: 34px;
	}

	&[data-type='text-area'] {
		resize: vertical;
		--crp-input-height: 100px;
		--crp-input-padding: 12px;
		min-height: var(--crp-text-area-min-height);
		max-height: var(--crp-text-area-max-height);
	}

	color: var(--crp-input-color);
	border: var(--crp-input-border);
	padding: var(--crp-input-padding);
	transition: border-color 0.3s ease;
	font-size: var(--crp-input-font-size);
	box-shadow: var(--crp-input-box-shadow);
	border-radius: var(--crp-input-border-radius);
	background-color: var(--crp-input-background-color);
	@include box(var(--crp-input-width), var(--crp-input-height));

	&::placeholder {
		color: var(--crp-input-color-placeholder);
	}

	&:focus {
		outline: none;
		// TODO: Fix box-shadow
		// box-shadow: var(--crp-input-box-shadow-focus);
	}

	&:disabled {
		color: var(--crp-input-color-disabled);
		border-color: var(--crp-input-border-color-disabled);
		cursor: not-allowed;

		&::placeholder {
			color: var(--crp-input-color-placeholder-disabled);
		}
	}

	&[type='number'] {
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			margin: 0;
			appearance: none;
		}
	}

	&[data-error] {
		border-color: var(--crp-input-border-color-error);
	}

	&:hover {
		border: var(--crp-input-border-hover);
	}
}
